body {
    background-color: darkgrey;
    font-family: sans-serif;
}
#map {
    width: 30%;
    height: 90%;
    float: left;
    position: absolute;
    margin-left: 3%;
    margin-top: 2%;
}
#resultdiv {
    width: 60%;
    height: 90%;
    position: absolute;
    left: 20px;
}
#resultcontainer {
    display: block;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}

.panoramio-wapi-images{
    background-color: transparent!important;
}

.searchformheaders{
    color: white;
}

.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

#sunchartcontainer{
    position: absolute;
    top: 240px;
    left: 10px;
    z-index: 4999;
    width: 30%;
}

#timecontainer{
    background: rgba(200, 200, 200,0.9);
}

#dusk, #dawn, #sunrise, #sunset, #goldenHour, #solarNoon{
    font-style: italic;
    margin-left:  15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-places-header{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 2px, 0, 0, 0;
    color: #fff;
    font-size: 22px;
    font-weight: lighter;    
}

.user-places-list-item{
    position: relative;
    width: 95%;
    padding: 2px;
    text-align: center;
    margin: 2px, 0, 0, 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;    
}

.user-notes{
    color: #fff;
    position: relative;
    width: 95%;
    padding: 2px;
    text-align: center;
    margin: 2px, 0, 0, 0;
    color: #fff;
    font-size: 16px;
    font-weight: light;    
}

.user-notes li:hover{
    cursor: pointer;
}

.overlay-menu {
    height: 85%;
    position: absolute;
    border-radius: 5px;
    z-index: 6000;
    margin-top: 60px;
    top: 0;
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    float:left; 
}

.overlay-content {
    position: relative;
    width: 100%;
    margin-top: 3px;
}

.add-button {
    text-align: center;
    width: auto;
    cursor: pointer;
}

.places-list {
    width: auto;
    height: 100%;
    margin: 25px 0;
    padding: 0;

}
.places-list li:hover{
    cursor: pointer;
}

.user-images-list-item{
    width:100%;
    height:100%;
    margin: 1px;
}

.images-list{
    columns: 2;
    margin-right: 20px;
}

.progress-bar-container {
    position: relative;
    width: 90%;
    height: 30px;
    margin: 10px;
    border-color: #fff;
    border-style: solid;
    border-width: medium;
}

.progress-bar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
}

.weather-icon, .widget-info {
    background: url(../icons/weathericons.png) no-repeat;
    float: left;
    height: 80px;
    top: -5px;
    left: 57%;
    width: 80px;
    transform: scale(0.5, 0.5);
    position: absolute;
}

.weather-description, .input-description {
    color: #fff;
    font-size: 20px;

}

.weather-description-in-menu-bar{
    position: absolute;
    left: 60%;
    top: 2.5%;
    font-size: 15px;
    color: #fff;
}

.weather-icon-thunderstorm {
    background-position: -400px -240px;
}

.weather-icon-drizzle {
    background-position: -480px -240px;
}

.weather-icon-rain {
    background-position: -560px -240px;
}

.weather-icon-snow {
    background-position: -160px -320px;
}

.weather-icon-clear {
    background-position: 0 -240px;
}

.weather-icon-clouds {
    background-position: -320px -320px;
}

.searchform {
    border: 0px;
    background-color: black;
    position: absolute;
    width: 250px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    z-index: 5001;
}

.loginform {
    border: 5px;
    background-color: black;
    position: absolute;
    width: 250px;
    right: 0;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    z-index: 5001;
}


.loginformheaders{
    font-size: 18px;
    color: white; 
}

.inputbox {
    padding: 12px 20px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginbutton {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 5px;
    
}

.cancelbutton {
    width: auto;
    cursor: pointer;
    padding: 10px 18px;
    margin: 5px;
    background-color: #f44336;
    border-radius: 5px
}

.inputbox {
    width: 97.5%;
    padding: 12px 20px;
    margin: 1.2% 1.2% 1.2% 1.2%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.cancelbutton {
    width: auto;
    padding: 10px 18px;
    margin: 5px;
    background-color: #f44336;
    border-radius: 5px
}

#topoContainer{
    display: block;
    position: absolute;
    width: 40%;
    height: 90%;
    right: 10px;
    top: 100px;
    z-index: 5000;
}

ul {
    list-style-type: none;
}

li b {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

li b:hover {
    background-color: #3e8e41;
}

footer {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
    font-size: 11px;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#previousbutton {
    position: absolute;
    bottom: 15px;
    left: 25px;
    
}

#nextbutton {
    position: absolute;
    bottom: 15px;
    right: 30px;
    
}


#wiki{
    color: white;
    padding: 5px;
}

.wikicontent {
    position: relative;
    left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

/*panoramio Overlay*/
#panoramioOverlay
{
    display:none;
    position: fixed;
    z-index: 9999;
    margin: 200px auto;
    left:0;
    right: 0;
    
}

#panoramioDarkener{
    display: none;
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #000;
    opacity: 0.6;
    top: 0px;
    left: 0px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.searchbtn:hover, .searchbtn:focus {
    background-color: #3e8e41;
}

#wikibutton, #nextbutton, #previousbutton, #home, #myPlaces, .searchbtn, .searchstarterbtn, #previousbutton, #nextbutton {
    cursor: pointer;
}
#mapid {
    cursor: crosshair;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

#mapid { height: 550px; }

#topoHideButton {
    float: right;
    font-style: bold;
    margin-right: 5px;
    cursor: pointer;
}

#sunHideButton {
    font-style: bold;
    margin-right: 5px;
    cursor: pointer;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}